<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>성남시 공공도서관 AR서비스</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/layout.css" />
	<link rel="stylesheet" type="text/css" href="css/board.css" />
	<link rel="stylesheet" type="text/css" href="css/color.css" />
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		const labels = [
			'January',
			'February',
			'March',
			'April',
			'May',
			'June',
		];

		const data = {
			labels: labels,
			datasets: [{
				label: 'My First dataset',
				backgroundColor: '#adcdec',
				borderColor: 'rgb(150,205,236)',
				data: [0, 10, 5, 2, 20, 10, 30],
			}]
		};

		const config = {
			type: 'bar',
			data: data,
			options: {}
		};
	</script>

</head>

<body>
	<div class="nav">
		<div class="logo">ADMIN</div>
		<ul>
			<li>
				<span class="material-symbols-outlined">list_alt</span>
				<a th:href="@{/admin}">화상교육</a>
			</li>
			<li class="on">
				<span class="material-symbols-outlined">monitoring</span>
				<a th:href="@{/ar}">AR 이용통계</a>
			</li>
		</ul>
	</div><!-- //nav -->
	<div class="section">
		<div class="header">
			<button type="button" onclick="logOut()">로그아웃</button>
		</div>
		<div class="inner">
			<h1>AR 이용 통계</h1>

			<div class="cal_box">
				<div id="calendarForm"></div>
			</div><!-- //cal -->

			<div class="chart">
				<h2>
					<span class="year_mon2"> </span>
					<span class="total">700</span>
				</h2>
				
				
        <canvas id="myChart"></canvas>
      
    <script>
        let myChart = document.getElementById('myChart').getContext('2d');
        let massPopChart = new Chart(myChart, {
            type : 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea;
            data : {
                labels : ['1월', '2월', '3월', '4월', '5월','6월','7월','8월','9월','10월','11월','12월'],
                datasets:[{
                    label : 'Population',
                    data : [
                    20, 30, 25, 13, 1,25,55,23,40,20,10,40 
                    ],
                    backgroundColor : 'green'
                }]
            },
            options : {}
        });
    </script>

		</div>
		<!--// inner -->

		<!-- 시간별 이용인원 상세보기 -->
		<div class="popup_layer" id="popup_daily" style="display: none;">
			<div class="popup_box">
				<h1>시간별 이용인원 상세보기
					<button type="button" class="btn_close"><span
							class="material-symbols-outlined">close</span></button>
				</h1>
				<div class="tablebox">
					<table>
						<colgroup>
							<col width="50%">
							<col width="">
						</colgroup>
						<thead>
							<tr>
								<th>시간</th>
								<th>이용인원 수</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>10:00 ~ 11:00</td>
								<td>20</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="btn"><button type="button" class="btn_save">확인</button></div>
			</div>
		</div>
		<!--// popup -->

	</div><!-- //section -->
</body>
<script>
	let modal = document.getElementsByClassName("popup_layer")[0];
	let btn_open = document.getElementsByClassName("btn_save")[0];
	let btn_close = document.getElementsByClassName("btn_close")[0];

	btn_close.onclick = function () {
		modal.style.display = "none";

	}

	btn_open.onclick = function () {
		modal.style.display = "none";

	}



	function linkOpen() {
		modal.style.display = "block";


	}




</script>
<script>

	$(function () {
		calendarMaker($("#calendarForm"), new Date());
	})();

	var nowDate = new Date();
	function calendarMaker(target, date) {
		if (date == null || date == undefined) {
			date = new Date();
		}
		nowDate = date;
		if ($(target).length > 0) {
			var year = nowDate.getFullYear();
			var month = nowDate.getMonth() + 1;
			$(target).empty().append(assembly(year, month));
		} else {
			console.error("custom_calendar Target is empty!!!");
			return;
		}

		var thisMonth = new Date(nowDate.getFullYear(), nowDate.getMonth(), 1);
		var thisLastDay = new Date(nowDate.getFullYear(), nowDate.getMonth() + 1, 0);


		var tag = "<tr>";
		var cnt = 0;
		//빈 공백 만들어주기
		for (i = 0; i < thisMonth.getDay(); i++) {
			tag += "<td></td>";
			cnt++;
		}

		//날짜 채우기
		for (i = 1; i <= thisLastDay.getDate(); i++) {
			if (cnt % 7 == 0) {tag += "<tr>";}

			tag += "<td>" + i + "</td>";
			cnt++;
			if (cnt % 7 == 0) {
				tag += "</tr>";
			}
		}
		$(target).find("#custom_set_date").append(tag);
		calMoveEvtFn();

		function assembly(year, month) {
			var calendar_html_code =
				"<table class='custom_calendar_table'>" +
				"<colgroup>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"</colgroup>" +
				"<thead class='cal_date'>" +
				"<th><button type='button' class='prev'><</button></th>" +
				"<th colspan='5'><p style='font-size:30px;'><span style='font-size:30px;'>" + year + "</span>년 <span style='font-size:30px;'>" + month + "</span>월</p></th>" +
				"<th><button type='button' class='next'>></button></th>" +
				"</thead>" +
				"<thead  class='cal_week'>" +
				"<th>일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th>" +
				"</thead>" +
				"<tbody id='custom_set_date'>" +
				"</tbody>" +
				"</table>";

			return calendar_html_code;

		}

		function calMoveEvtFn() {
			let modal = document.getElementsByClassName("popup_layer")[0];
			//전달 클릭
			$(".custom_calendar_table").on("click", ".prev", function () {
				nowDate = new Date(nowDate.getFullYear(), nowDate.getMonth() - 1, nowDate.getDate());
				calendarMaker($(target), nowDate);

			});
			//다음날 클릭
			$(".custom_calendar_table").on("click", ".next", function () {
				nowDate = new Date(nowDate.getFullYear(), nowDate.getMonth() + 1, nowDate.getDate());
				calendarMaker($(target), nowDate);
			});
			//일자 선택 클릭
			$(".custom_calendar_table").on("click", "td", function () {
				$(".custom_calendar_table .select_day").removeClass("select_day");
				$(this).removeClass("select_day").addClass("select_day");
				modal.style.display = "block";
			});
			$(".year_mon2").text(year + "년 " + (month) + "월 이용자 수 : ");
		}


	}

</script>
<script>
	function logOut(){
		var logout = confirm("로그아웃 하시겠습니까?");
		if(logout){
		$.ajax({
				method: 'POST',
				url: '/logout'
				


			})
			location.replace('/login');
		}
		else {
			location.reload();
		}
		
	}
</script>


</html>