<html>

<head>
	<meta charset="UTF-8">
	<title>성남시 공공도서관 AR서비스</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/layout.css" />
	<link rel="stylesheet" type="text/css" href="css/board.css" />
	<link rel="stylesheet" type="text/css" href="css/color.css" />
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="js/date.js"></script>


	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<body>
	<div class="nav">
		<div class="logo">ADMIN</div>
		<ul>
			<li class="on">
				<span class="material-symbols-outlined">list_alt</span>
				<a th:href="@{/admin}">화상교육</a>
			</li>
			<li>
				<span class="material-symbols-outlined">monitoring</span>
				<a th:href="@{/ar}">AR 이용통계</a>
			</li>
		</ul>
	</div><!-- //nav -->
	<div class="section">
		<div class="header">
			<button type="button" onclick="logOut()">로그아웃</button>
		</div>
		<div class="inner">
			<h1>수업목록</h1>

			<div class="area_table">

				<div class="tablehead">
					<div class="searchbox">
						<input type="text" id="keyword" placeholder="수업명을 입력해주세요.">
						<button type="button" class="btn_basic" onclick="search()">검색</button>
					</div>
					<div class="btn_area">
						<button type="button" class="btn_save">등록</button>
					</div>
				</div>

				<table>
					<thead>
						<tr>
							<th>수업일시</th>
							<th>수업명</th>
							<th>강의자</th>
							<th>수업유형</th>
							<th>참여돌봄센터 수</th>
							<th>참석인원</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="tt : ${list}">
							<td><span th:text="${tt.start_at}"></span></td>
							<td class="link txtleft"><a th:href="@{/lect_result(id=${tt.id})}">
									<span th:text="${tt.title}"></span></td>
							<td><span th:text="${tt.lecturer}"></span></td>
							<td><span th:text="${tt.type}"></span></td>
							<td><span th:text="${tt.center}"></span></td>
							<td><span th:text="${tt.attendances}"></span></td>

						</tr>

					</tbody>
				</table>

				<div class="paging">
					<ul class="pagination pagination-sm no-margin pull-right">
						<span class="before" th:if="${pageMaker.prev} == true">
							<a th:href="@{/admin(page=${pageMaker.startPage}-1,
					perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
						</span>
						<span class="current" th:each="idx,iterStat : 
					${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
							th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
							<a th:href="@{/admin(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}"
								th:text="${idx}"></a>
						</span>

						<span class="next" th:if="${pageMaker.next} == true and 
					${pageMaker.endPage > 0}">
							<a th:href="@{/admin(page=${pageMaker.endPage}+1,
					perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
						</span>
					</ul>
				</div>

			</div><!-- //area_table -->

		</div><!-- //inner -->

		<!-- 수업등록 -->
		<div class="popup_layer" style="display:none">
			<div class="popup_box">
				<h1>수업등록
					<button type="button" class="btn_close"><span
							class="material-symbols-outlined">close</span></button>
				</h1>
				<div class="tablebox">
					<table class="table_listview">
						<colgroup>
							<col width="100px">
							<col width="auto">
						</colgroup>
						<tbody>
							<tr>
								<th>수업명</th>
								<td><input type="text" id="title" class="input_100per"></td>
							</tr>
							<tr>
								<th>수업일시</th>
								<td class="search_date">
									<div class="">
										<input type="datetime-local" id="start_at">
										<span class="material-symbols-outlined"></span>


										<input type="datetime-local" id="end_at">
										<span class="material-symbols-outlined"></span>
									</div>

								</td>
							</tr>
							<tr>
								<th>수업시간</th>
								<td id="time">

									<select id="select_value" name="select_value">
										<option>60분</option>
										<option>50분</option>
										<option>40분</option>
										<option>30분</option>
										<option value="direct">기타[직접입력]</option>

									</select>

									<input type="text" id="selboxDirect" name="selboxDirect" />

								</td>
							</tr>
							<tr>
								<th>강의자</th>
								<td><input type="text" id="lecturer" class="input_200"></td>
							</tr>
							<tr>
								<th>수업유형</th>
								<td>

									<select id="type_value" name="type_value">
										<option>유형</option>
										<option>강의</option>
										<option value="direct">기타[직접입력]</option>
									</select>
									<input type="text" id="typeDirect" name="typeDirect" />
								</td>
							</tr>
							<tr>
								<th>수업설명(메모)</th>
								<td><textarea id="description"></textarea></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="btn">
					<button type="button" class="btn_delete">취소</button>
					<button type="button" class="btn_save" onclick="dataSend()">확인</button>
				</div>
			</div>
		</div>
		<!--// popup -->

	</div><!-- //section -->


</body>
<script>
	// Get the modal
	let modal = document.getElementsByClassName("popup_layer")[0];
	let modal2 = document.getElementsByClassName("btn")[0];
	// Get the <span> element that closes the modal
	let btn_close = document.getElementsByClassName("btn_close")[0];
	let btn_close2 = document.getElementsByClassName("btn_delete")[0];
	let btn_open = document.getElementsByClassName("btn_save")[0];


	btn_open.onclick = function () {
		modal.style.display = "block";

	}

	btn_close2.onclick = function () {
		modal.style.display = "none";

	}
	// When the user clicks on <span> (x), close the modal
	btn_close.onclick = function () {
		modal.style.display = "none";

	}
	$(function () {

		$("#selboxDirect").hide();
		
		$("#select_value").change(function () {

			if ($("#select_value").val() == "direct") {

				$("#selboxDirect").show();
				

			} else {

				$("#selboxDirect").hide();

			}
})

	});
	$(function () {
		$("#typeDirect").hide();

		$("#type_value").change(function () {

			if ($("#type_value").val() == "direct") {
				$("#typeDirect").show();
				
			} else {
				$("#typeDirect").hide();
			}

		})

	});
	

	function dataSend() {
		var title = $("#title").val();
		var start_at = $("#start_at").val();
		var end_at = $("#end_at").val();
		var lecturer = $("#lecturer").val();
		var type = $("#type").val();
		var description = $("#description").val();
		var s = document.getElementById("select_value")
		var time = s.options[s.selectedIndex].text
		var t = document.getElementById("type_value")
		var type = t.options[t.selectedIndex].text
		
		if ($("#select_value").val() == "direct"){
			time = $("#selboxDirect").val();
		}
		
		if ($("#type_value").val() == "direct"){
			type = $("#typeDirect").val();
			
		}
		

		if (title == "") {
			alert("제목을 필수로 입력하세요")
		}
		else {
			var LessonsDto = JSON.stringify({
				title: title,
				start_at: start_at,
				end_at: end_at,
				time: time,
				lecturer: lecturer,
				type: type,
				description: description
			});


			$.ajax({
				method: 'POST',
				url: '/register',
				headers: {'Content-type': 'application/json'},
				data: LessonsDto

			})

		}

		modal.style.display = "none";
		
	}



	function search() {
		var keyword = $("#keyword").val();





		$.ajax({
			method: 'POST',
			url: '/keyword',
			headers: {'Content-type': 'application/json'},
			data: keyword

		})
		
		location.replace('/search')
	

	}

	

</script>
<script>
	function logOut(){
		var logout = confirm("로그아웃 하시겠습니까?");
		if(logout){
		$.ajax({
				method: 'POST',
				url: '/logout'
				


			})
			location.replace('/login');
		}
		else {
			location.reload();
		}
		
	}
</script>

</html>